@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";
:root {
  --primg:#76B6C3;
  --secgr:#676666;
  --tri:#566776;
}


body {
  font-family: 'Poppins',sans-serif;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  min-width: 320px;
  
}
p{
  font-size: 14px;
  text-align: justify;
  letter-spacing: 1;
  line-height: 1.8;
}
h2{
	font-size: 26px;
}
h3{
	font-size: 20px;
}
section{
	max-width: 1600px;
	margin: 0 auto;
	
}
/* About.module.css */
.lower div h2{
	text-align: center;
}
.styled-html ul {
  list-style: disc;
  padding-left: 1.5rem; /* gives indentation */
  margin-top: .5rem;
  margin-bottom: .5rem;
    letter-spacing: 1;
  line-height: 1.8;
}

.styled-html li {
  margin-bottom: 0.5rem;
  font-size: 14px;
  text-align: justify;
}

.privacy img{
	display: none;
}
button{
	cursor: pointer;
}

.icon-box h1{
  width: 20%;
  
}

.case strong{
	font-size: 18px;
}

/* Privacy */

.privacy h2{
	margin-top:20px ;
	margin-bottom: 5px;

}


.Enquire-box:hover{
  color: white;
  background-color: var(--primg);
  animation-duration: 2s;
}

.Enquire-box:hover .ibox{
  background:white;
}
.Enquire-box:hover i{
  color: var(--primg);
}

.Enquire-box:hover a{
  color: white;
}

input[type=range].custom-slider::-moz-range-thumb {
  height: 40px;
  width: 40px;
  background-color: #16a34a;  /* green-600 */
  border-radius: 50%;
  border: 2px solid #15803d;
}


.section-3 .left .cards .card{
  border-radius: 30px;
  background-color: #fff;
}

.logo{
  width: 4vh;
  height: 4vh;
}

.ezy__testimonial8 {
	/* Bootstrap variables */
	--bs-body-color: #2b323c;
	--bs-body-bg: rgb(255, 255, 255);

	/* Easy Frontend variables */
	--ezy-theme-color: rgb(13, 110, 253);
	--ezy-theme-color-rgb: 13, 110, 253;
	--ezy-item-bg: #ffffff;
	--ezy-item-icon-bg: #ffffff;
	--ezy-item-shadow: 0px 12px 54px rgba(195, 209, 235, 0.32);
	--ezy-rating-rgb: 255, 215, 0;

	background-color: var(--bs-body-bg);
	overflow: hidden;
	padding: 60px 0;
	position: relative;
	z-index: 1;
}

@media (min-width: 768px) {
	.ezy__testimonial8 {
		padding: 100px 0;
	}
}

/* Gray Block Style */
.gray .ezy__testimonial8,
.ezy__testimonial8.gray {
	/* Bootstrap variables */
	--bs-body-bg: rgb(246, 246, 246);

	/* Easy Frontend variables */
	--ezy-item-bg: #f6f6f6;
	--ezy-item-icon-bg: #f6f6f6;
	--ezy-item-shadow: 0px 12px 54px rgba(212, 227, 255, 0.32);
}

/* Dark Gray Block Style */
.dark-gray .ezy__testimonial8,
.ezy__testimonial8.dark-gray {
	/* Bootstrap variables */
	--bs-body-color: #ffffff;
	--bs-body-bg: rgb(30, 39, 53);

	/* Easy Frontend variables */
	--ezy-item-bg: #232e3c;
	--ezy-item-icon-bg: #253345;
	--ezy-item-shadow: none;
}

/* Dark Block Style */
.dark .ezy__testimonial8,
.ezy__testimonial8.dark {
	/* Bootstrap variables */
	--bs-body-color: #ffffff;
	--bs-body-bg: rgb(11, 23, 39);

	/* Easy Frontend variables */
	--ezy-item-bg: #162231;
	--ezy-item-icon-bg: #0b1727;
	--ezy-item-shadow: none;
}

.ezy__testimonial8-heading {
	font-weight: bold;
	font-size: 25px;
	line-height: 25px;
	color: var(--bs-body-color);
}

@media (min-width: 768px) {
	.ezy__testimonial8-heading {
		font-size: 45px;
		line-height: 45px;
	}
}

.ezy__testimonial8-sub-heading {
	font-size: 18px;
	line-height: 25px;
	color: var(--bs-body-color);
	opacity: 0.8;
}

.ezy__testimonial8-item {
	background-color: var(--ezy-item-bg);
	box-shadow: var(--ezy-item-shadow);
	border-radius: 0;
	border: none;
}

.ezy__testimonial8-title {
	color: var(--bs-body-color);
}

.ezy__testimonial8-content {
	color: var(--bs-body-color);
	opacity: 0.8;
}

.ezy__testimonial8-shape {
	background-color: rgba(var(--ezy-theme-color-rgb), 1);
	position: absolute;
	left: 50%;
	right: 0;
	bottom: 0;
	top: 0;
	width: 100vw;
	z-index: -1;
}

@media (min-width: 991px) {
	.ezy__testimonial8-shape {
		left: 60%;
	}
}

.ezy__testimonial8-rating [class*="fa-"]:not(.active),
.ezy__testimonial8-rating [class*="fa-"]:not(.active) * {
	color: rgba(var(--ezy-rating-rgb), 0.2);
}

.ezy__testimonial8-rating [class*="fa-"].active,
.ezy__testimonial8-rating [class*="fa-"].active * {
	color: rgba(var(--ezy-rating-rgb), 1);
}
