@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";
:root {
  --primg:#74B4C4;
  --secgr:#676666;
  --tri:#566776;
}
/* [var(--primg)] */

body {
  font-family: 'Poppins',sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 320px;

  
  
}

.section-3 .right .cards .card{
  border-radius: 30px;
  background-color: #fff;
}

.logo{
  width: 4vh;
  height: 4vh;
}

.animate-fadeInUp{
  animation: uppertextanimate .5s   ease-in forwards ;

}



.animate-fadeInUp {
  animation: fadeInUp 0.8s ease-out forwards;
}
@keyframes uppertextanimate {
  0% {
       opacity: 0;
    transform: translatey(30px);
    
    
  }

  100%{
       opacity: 1;
    transform: translatey(0px);
  }
  
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translatey(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}



@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.fade-up {
  animation: fadeUp 0.7s ease-in-out forwards;
  opacity: 0;
}

.word-space {
  word-spacing: 1rem; /* adjust as needed */
}
.boxword {
  word-spacing: 1rem; /* adjust as needed */
}
.formspace {
  word-spacing: .5rem; /* adjust as needed */
}