@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";

@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
:root {
  --primg:#76B6C3;
  --secgr:#676666;
  --tri:#566776;
  --radius:0.625rem;
  --background:oklch(1 0 0);
  --foreground:oklch(0.145 0 0);
  --card:oklch(1 0 0);
  --card-foreground:oklch(0.145 0 0);
  --popover:oklch(1 0 0);
  --popover-foreground:oklch(0.145 0 0);
  --primary:oklch(0.205 0 0);
  --primary-foreground:oklch(0.985 0 0);
  --secondary:oklch(0.97 0 0);
  --secondary-foreground:oklch(0.205 0 0);
  --muted:oklch(0.97 0 0);
  --muted-foreground:oklch(0.556 0 0);
  --accent:oklch(0.97 0 0);
  --accent-foreground:oklch(0.205 0 0);
  --destructive:oklch(0.577 0.245 27.325);
  --border:oklch(0.922 0 0);
  --input:oklch(0.922 0 0);
  --ring:oklch(0.708 0 0);
  --chart-1:oklch(0.646 0.222 41.116);
  --chart-2:oklch(0.6 0.118 184.704);
  --chart-3:oklch(0.398 0.07 227.392);
  --chart-4:oklch(0.828 0.189 84.429);
  --chart-5:oklch(0.769 0.188 70.08);
  --sidebar:oklch(0.985 0 0);
  --sidebar-foreground:oklch(0.145 0 0);
  --sidebar-primary:oklch(0.205 0 0);
  --sidebar-primary-foreground:oklch(0.985 0 0);
  --sidebar-accent:oklch(0.97 0 0);
  --sidebar-accent-foreground:oklch(0.205 0 0);
  --sidebar-border:oklch(0.922 0 0);
  --sidebar-ring:oklch(0.708 0 0);
}

body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  min-width: 320px;

}
p{
  font-size: 14px;
  text-align: justify;
  letter-spacing: 1;
  line-height: 1.8;
}
h2{
	font-size: 26px;
}
h3{
	font-size: 20px;
}
a{
	text-decoration: none;
	cursor: pointer;
}
strong{
	font-weight: 600;
}
section{
	max-width: 1600px;
	margin: 0 auto;

}
/* About.module.css */
.lower div h2{
	text-align: center;
}
.styled-html ul {
  list-style: disc;
  padding-left: 1.5rem; /* gives indentation */
  margin-top: .5rem;
  margin-bottom: .5rem;
    letter-spacing: 1;
  line-height: 1.8;
}

button{
	cursor: pointer;
}

.icon-box h1{
  width: 20%;

}

.case strong{
	font-size: 18px;
}
/* footer */
.footer{
	font-size: 14px;
}

/* enquire */
.enquire a{
	font-size: 14px;
}

/* Privacy */

.privacy h2{
	margin-top:20px ;
	margin-bottom: 5px;

}

.Enquire-box:hover{
  color: white;
  background-color: var(--primg);
  animation-duration: 2s;
}

.Enquire-box:hover .ibox{
  background:white;
}
.Enquire-box:hover i{
  color: var(--primg);
}

.Enquire-box:hover a{
  color: white;
}

input[type=range].custom-slider::-moz-range-thumb {
  height: 40px;
  width: 40px;
  background-color: #16a34a;  /* green-600 */
  border-radius: 50%;
  border: 2px solid #15803d;
}

.section-3 .left .cards .card{
  border-radius: 30px;
  background-color: #fff;
}

.logo{
  width: 4vh;
  height: 4vh;
}

.ezy__testimonial8 {
	/* Bootstrap variables */
	--bs-body-color: #2b323c;
	--bs-body-bg: rgb(255, 255, 255);

	/* Easy Frontend variables */
	--ezy-theme-color: rgb(13, 110, 253);
	--ezy-theme-color-rgb: 13, 110, 253;
	--ezy-item-bg: #ffffff;
	--ezy-item-icon-bg: #ffffff;
	--ezy-item-shadow: 0px 12px 54px rgba(195, 209, 235, 0.32);
	--ezy-rating-rgb: 255, 215, 0;

	background-color: var(--bs-body-bg);
	overflow: hidden;
	padding: 60px 0;
	position: relative;
	z-index: 1;
}

@media (min-width: 768px) {
	.ezy__testimonial8 {
		padding: 100px 0;
	}
}

/* Gray Block Style */
.gray .ezy__testimonial8,
.ezy__testimonial8.gray {
	/* Bootstrap variables */
	--bs-body-bg: rgb(246, 246, 246);

	/* Easy Frontend variables */
	--ezy-item-bg: #f6f6f6;
	--ezy-item-icon-bg: #f6f6f6;
	--ezy-item-shadow: 0px 12px 54px rgba(212, 227, 255, 0.32);
}

/* Dark Gray Block Style */
.dark-gray .ezy__testimonial8,
.ezy__testimonial8.dark-gray {
	/* Bootstrap variables */
	--bs-body-color: #ffffff;
	--bs-body-bg: rgb(30, 39, 53);

	/* Easy Frontend variables */
	--ezy-item-bg: #232e3c;
	--ezy-item-icon-bg: #253345;
	--ezy-item-shadow: none;
}

/* Dark Block Style */
.dark .ezy__testimonial8,
.ezy__testimonial8.dark {
	/* Bootstrap variables */
	--bs-body-color: #ffffff;
	--bs-body-bg: rgb(11, 23, 39);

	/* Easy Frontend variables */
	--ezy-item-bg: #162231;
	--ezy-item-icon-bg: #0b1727;
	--ezy-item-shadow: none;
}

.ezy__testimonial8-heading {
	font-weight: bold;
	font-size: 25px;
	line-height: 25px;
	color: var(--bs-body-color);
}

@media (min-width: 768px) {
	.ezy__testimonial8-heading {
		font-size: 45px;
		line-height: 45px;
	}
}

.ezy__testimonial8-sub-heading {
	font-size: 18px;
	line-height: 25px;
	color: var(--bs-body-color);
	opacity: 0.8;
}

.ezy__testimonial8-item {
	background-color: var(--ezy-item-bg);
	box-shadow: var(--ezy-item-shadow);
	border-radius: 0;
	border: none;
}

.ezy__testimonial8-title {
	color: var(--bs-body-color);
}

.ezy__testimonial8-content {
	color: var(--bs-body-color);
	opacity: 0.8;
}

.ezy__testimonial8-shape {
	background-color: rgba(var(--ezy-theme-color-rgb), 1);
	position: absolute;
	left: 50%;
	right: 0;
	bottom: 0;
	top: 0;
	width: 100vw;
	z-index: -1;
}

@media (min-width: 991px) {
	.ezy__testimonial8-shape {
		left: 60%;
	}
}

.ezy__testimonial8-rating [class*="fa-"]:not(.active),
.ezy__testimonial8-rating [class*="fa-"]:not(.active) * {
	color: rgba(var(--ezy-rating-rgb), 0.2);
}

.ezy__testimonial8-rating [class*="fa-"].active,
.ezy__testimonial8-rating [class*="fa-"].active * {
	color: rgba(var(--ezy-rating-rgb), 1);
}

@theme inline {
  --radius-sm:calc(var(--radius) - 4px);
  --radius-md:calc(var(--radius) - 2px);
  --radius-lg:var(--radius);
  --radius-xl:calc(var(--radius) + 4px);
  --radius-2xl:calc(var(--radius) + 8px);
  --radius-3xl:calc(var(--radius) + 12px);
  --radius-4xl:calc(var(--radius) + 16px);
  --color-background:var(--background);
  --color-foreground:var(--foreground);
  --color-card:var(--card);
  --color-card-foreground:var(--card-foreground);
  --color-popover:var(--popover);
  --color-popover-foreground:var(--popover-foreground);
  --color-primary:var(--primary);
  --color-primary-foreground:var(--primary-foreground);
  --color-secondary:var(--secondary);
  --color-secondary-foreground:var(--secondary-foreground);
  --color-muted:var(--muted);
  --color-muted-foreground:var(--muted-foreground);
  --color-accent:var(--accent);
  --color-accent-foreground:var(--accent-foreground);
  --color-destructive:var(--destructive);
  --color-border:var(--border);
  --color-input:var(--input);
  --color-ring:var(--ring);
  --color-chart-1:var(--chart-1);
  --color-chart-2:var(--chart-2);
  --color-chart-3:var(--chart-3);
  --color-chart-4:var(--chart-4);
  --color-chart-5:var(--chart-5);
  --color-sidebar:var(--sidebar);
  --color-sidebar-foreground:var(--sidebar-foreground);
  --color-sidebar-primary:var(--sidebar-primary);
  --color-sidebar-primary-foreground:var(--sidebar-primary-foreground);
  --color-sidebar-accent:var(--sidebar-accent);
  --color-sidebar-accent-foreground:var(--sidebar-accent-foreground);
  --color-sidebar-border:var(--sidebar-border);
  --color-sidebar-ring:var(--sidebar-ring);
}

.dark {
  --background:oklch(0.145 0 0);
  --foreground:oklch(0.985 0 0);
  --card:oklch(0.205 0 0);
  --card-foreground:oklch(0.985 0 0);
  --popover:oklch(0.205 0 0);
  --popover-foreground:oklch(0.985 0 0);
  --primary:oklch(0.922 0 0);
  --primary-foreground:oklch(0.205 0 0);
  --secondary:oklch(0.269 0 0);
  --secondary-foreground:oklch(0.985 0 0);
  --muted:oklch(0.269 0 0);
  --muted-foreground:oklch(0.708 0 0);
  --accent:oklch(0.269 0 0);
  --accent-foreground:oklch(0.985 0 0);
  --destructive:oklch(0.704 0.191 22.216);
  --border:oklch(1 0 0 / 10%);
  --input:oklch(1 0 0 / 15%);
  --ring:oklch(0.556 0 0);
  --chart-1:oklch(0.488 0.243 264.376);
  --chart-2:oklch(0.696 0.17 162.48);
  --chart-3:oklch(0.769 0.188 70.08);
  --chart-4:oklch(0.627 0.265 303.9);
  --chart-5:oklch(0.645 0.246 16.439);
  --sidebar:oklch(0.205 0 0);
  --sidebar-foreground:oklch(0.985 0 0);
  --sidebar-primary:oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground:oklch(0.985 0 0);
  --sidebar-accent:oklch(0.269 0 0);
  --sidebar-accent-foreground:oklch(0.985 0 0);
  --sidebar-border:oklch(1 0 0 / 10%);
  --sidebar-ring:oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
